@page "/create"
@inject SkinService SkinService
@using FinalFN.Data
@using FinalFN.Services
@inject NavigationManager NavigationManager

<h3>Create New Skin</h3>

<div class="form-container">
    <form @onsubmit="CreateUserSkin">

       
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" @bind="newSkin.Name" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" @bind="newSkin.Description" class="form-control" required></textarea>
        </div>

        <div class="form-group">
            <label for="weaponName">Weapon:</label>
            <input type="text" id="weaponName" @bind="newSkin.WeaponName" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="rarityName">Rarity:</label>
            <input type="text" id="rarityName" @bind="newSkin.RarityName" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="pictureUrl">Picture URL:</label>
            <input type="text" id="pictureUrl" @bind="newSkin.PictureUrl" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Create Skin</button>
    </form>
</div>

@code {
    private Skin newSkin = new Skin();

    // Call service to create and add skin
    private async Task CreateUserSkin()
    {
        await SkinService.AddUserSkin(newSkin);
        NavigationManager.NavigateTo("/skins");
    }
}
